@model RRDv2.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Floor.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfBeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfBeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BedSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BedSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomType.Type)
        </dd>


        <dt>
            Room Size (ft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomSize)
        </dd>

        <dt>
            Room Length (ft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomLength)
        </dd>

        <dt>
            Elevator Distance (ft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElevatorDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConnectingRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectingRoom)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
